:root{
    --color1:#df6c0e;
    --color2:#e6e209;
    --color3:#99948773;
    --color4:#f2f3f5ef;
    --color5:#363c44;    
    }

nav.menu li i {
    color: var(--color1);
}

nav.menu li i:hover {
    color: var(--color2);
    cursor: pointer;
}

nav.menu li {
    list-style: none;
    margin: 0.5 rem;
    text-decoration: none;
    }

nav.menu li a {
    text-decoration: none;
    color: var(--color4);
}

nav.menu ul {    
    display: none;
    margin: 0;
    padding-left: 0;
    width: 100px;
}

nav.menu:hover ul {
    display: inline-block;
    background-color: var(--color3);
    line-height: 1.5rem;
}

nav.menu li a:hover {
    background-color: var(--color1);
    border-radius: 5px;
}

nav.menu ul li:first-child {
    text-align: center;
    background-color: var(--color5);
}